body{
    
    animation: myanimation 10s infinite;
}
#preview{
    margin-left: 12%;
    margn-to:0px;
}
.images{
    height:448px;
    width:400px;
    box-sizing: content-box;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-image-slice: 1;
}
#header{
   
    margin-left: 4%;
    font-family: 'Sriracha', cursive;
    text-align: center;
    
}

#content{
    margin-left: 38%;
    
}
#player{
    margin-left: 7%;
    
   
}
#artist{
    margin-left: 2%;
    font-family: 'Lemonada', cursive;
    font-size: 30px;
}
#footer{background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);text-align: center;color: white;height: 45px;position: fixed;left: 0;
  bottom: 0;width: 100%;}
 
  h1{
      margin:0px;
  }
  h2{
      margin: 0px;
  }
 
 @keyframes myanimation {
  0% {background: linear-gradient(-30deg, #b721ff 0%, #21d4fd 100%);}
  25%{background: linear-gradient(162deg, rgba(255,175,126,1) 0%, rgba(130,50,209,1) 80%, rgba(104,44,228,1) 100%);}
  50%{background: linear-gradient(125deg, rgba(4,97,203,1) 0%, rgba(16,230,255,1) 80%, rgba(15,228,254,1) 100%);}
  75%{background: linear-gradient(135deg, rgba(218,27,96,1) 0%, rgba(242,98,34,1) 100%);}
  100% {background: linear-gradient(124deg, rgba(195,55,100,1) 0%, rgba(41,39,112,1) 100%);}
}
