<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename = 'style.css')}} type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Hanalei&family=Lemonada:wght@300&family=Sriracha&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div id = "header">
           <strong> <h1>{{song_name}}</h1></strong>
           <h2 id = "artist"> By {{artist_name}}</h2>
        </div>
        
        <div id="content">
            <img class= "images" src = "{{image_url}}"/>
            <p id = "preview"><a href= "{{song_preview_url}}">Preview your song here</a></p>
            <audio id ="player"
                controls
                src="{{song_preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio><br>
        </div>
        <div id =  "footer">
            <p>  © 2021 Ashutosh Rana</p>
        </div>
            
        </body>
     
    

</html>