<!DOCTYPE html>
<html>
    
     <head>
      <link rel="stylesheet" href={{ url_for('static', filename = 'sty.css')}} type="text/css" />
      </head>
         <body>
            <h1>Your One Stop for Getting the Information of a Song</h1>
            <h1>Name of the song : {{song_name}}</h1>
            <h1>Name of the artist : {{artist_name}}</h1>
            <h1 >Song Url : <a href= "{{song_preview_url}}">{{song_preview_url}}</a></h1>
            <img src = "{{image_url}}" \> 
         </body>
     
     

</html>